## Module 02 Excercises
#### Ethan Assefa

### Excercise 2.1
Define a string with a length `>=6` and print
- The first three characters of string
- The last three characters of string

In [1]:
# Define the string
string = "Words that are there"

In [2]:
# Prints the string
print(string)

Words that are there

In [3]:
# Prints the first three characters
print(string[:3])

Wor

In [4]:
# Prints the last three characters
print(string[-3:])

ere

### Excercise 2.2
Create a new list and assign three values
- Then print the second element from the list

In [5]:
# Create a list
lists = [1,2,3]

In [6]:
# Print the list
print(lists)

[1, 2, 3]

In [7]:
# Prints the second element from the list
print(lists[1])

2

### Excecise 2.3
Create a tuple with three values
- Then try to append a fourth value

In [8]:
# Create a tuple
tuples = (1,2,3)

In [9]:
# Print the tuple
print(tuples)

(1, 2, 3)

In [10]:
# Use the append function to try to add a forth value
tuples = tuples.append(4)

AttributeError: 'tuple' object has no attribute 'append'

### Excercise 2.4
- Assign value to a string
- Assign three string values to a set
- Check if the value is inside the set

In [11]:
# Define a value
val = "ERROR"
# Creates a set
levels = {"WARN", "ERROR", "CRITICAL"}

In [12]:
# Determine if value is contained within the set
val in levels

True

### Excercise 2.5
Create dictionary containing at least three key-value pairs
- Use get() to index into the dicitonary with one of the keys to extract the corresponding value
- Then store the keys in a list and print the list

In [13]:
# Create a dictionary with three key-value pairs
dictionary = {"Name":"Joe", "Number":3, "Location":"New York"}

In [14]:
# Pull the value for the Name key
print(dictionary.get("Name"))

Joe

In [16]:
keylist = list(dictionary.keys())
print(keylist)

['Name', 'Number', 'Location']

### Excercise 2.6
Convert the following sentence into a set of lowercase words sorted alphabetically
- Do not include the punctuation mark in resulting set

In [20]:
# Inputs the sentence into the python environment
sentence = "The quick brown fox jumped over the lazy dogs."
# Removes the period from end of the sentence
sentence = sentence.replace(".","")
# Makes all words lowercase
sentence = sentence.lower()
# Splits the sentence into each word by seperating at the space 
split_sentence = sentence.split(" ")

In [21]:
# Sorts the list alphabetically
split_sentence = sorted(split_sentence)
# Turns the list into a set
sentence_set = set(split_sentence)

In [24]:
# Prints the set
print(sentence_set)

{'jumped', 'the', 'fox', 'dogs', 'over', 'quick', 'lazy', 'brown'}